a {
  color:black;
  text-decoration: none;
}
h1 {
  font-size: 60px;
  text-align: center;
  border-bottom:2px solid gray;
  margin:0;
  padding:10px;
}
body {
  margin:0;
}
.saw {
  color:black;
}
#active {
 color:red;
}
#grid ol {
 border-right:2px solid gray;
 width:100px;
 margin:0;
 padding:30px;
 padding-left:27px;
 padding-right: 8px;
}
#grid {
 display:grid;
 grid-template-columns: 150px 1fr;
}
div {
 padding-left: 25px;
}
@media(max-width:700px){
 #grid {
   display:block;
}
#grid ol {
 border-right:none
}
}
